
/*Css of landing page */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    font-family: 'Poppins', sans-serif;
}


.index-main{
    background-color: #F4F9F9;
    padding-top: 6em;
    padding-bottom: 4em;
}
.navbar-custom{
    background-color: #CCF2F4;
}
.index-button{
    margin: 3em;

}

.custom-button{
    background-color: #A4EBF3;
}

.main-footer{
    background-color: #AAAAAA;
    color:#F4F9F9
}

.footer-links{
    color: #F4F9F9;
    text-decoration: none;
}

.footer-columns{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom:2em;
}