.index-main{
    background-color: #E8ECF1;
    padding-top: 6em;
    padding-bottom: 4em;
}
.navbar-custom{
    background-color: #B5CFD8;
}
.index-button{
    margin: 3em;
}

.custom-button{
    background-color: red;
}